.primary-scene {
    -fx-background-color: #f4f4f0;
}

.primary-label {
    -fx-font-family: "Sacramento";
    -fx-font-size: 36px;
    -fx-font-weight: 800;
    -fx-padding: 8 0 8 0;
}

.secondary-label {
    -fx-font-family: "Montserrat";
    -fx-font-size: 14px;
    -fx-padding: 8 0 4 0;
}

.round-button {
    -fx-background-radius: 5em;
    -fx-min-width: 30px;
    -fx-min-height: 30px;
    -fx-max-width: 30px;
    -fx-max-height: 30px;
}

.rect-button {
    -fx-border-color:rgba(0, 0, 0, 0.2);
    -fx-text-fill: black;
    -fx-border-radius: 6;
    -fx-background-radius: 6;
    -fx-padding: 8;
    -fx-font-family: "Nunito Sans";
    -fx-vgap: 16;
    -fx-effect: dropshadow(gaussian, rgba(0, 0, 0, 0.2), 5, 0, 0, 4);
}

.login-button {
    -fx-background-color: rgba(166, 141, 211, 0.89);
    
}

.go-back-button {
    -fx-background-color: rgba(255, 255, 255, 1);
    
}

.delete-button {
    -fx-background-color: rgba(243, 90, 90, 0.89);
    
}

.username-field {
    -fx-pref-height: 32;
    -fx-highlight-fill: rgba(166, 141, 211, 0.89);
    -fx-effect: dropshadow(gaussian, rgba(0, 0, 0, 0.2), 5, 0, 0, 4);
    -fx-border-color:rgba(0, 0, 0, 0.2);
    -fx-border-radius: 6;
    -fx-background-radius: 6;
}

.password-field {
    -fx-pref-height: 32;
    -fx-highlight-fill: rgba(166, 141, 211, 0.89);
    -fx-effect: dropshadow(gaussian, rgba(0, 0, 0, 0.2), 5, 0, 0, 4);
    -fx-border-color:rgba(0, 0, 0, 0.2);
    -fx-border-radius: 6;
    -fx-background-radius: 6;
}

.login-button:pressed, .go-back-button:pressed, .delete-button:pressed {
    -fx-translate-x: 2;
    -fx-translate-y: 2;
    -fx-effect: dropshadow(gaussian, rgba(0, 0, 0, 0.5), 5, 0, 4, 0);
}


.table-icon {

    -fx-background-image: url('src/icons/round-table.png');
    -fx-background-repeat: no-repeat;
    -fx-background-position: center;
}

.table-number-label {
    -fx-border-radius: 20 20 0 0; 
    -fx-background-radius: 20 20 20 20; 
    -fx-border-width: 1;
    -fx-font-family: "Nunito Sans";
    -fx-font-size: 16;
    -fx-font-weight: 700;
    -fx-text-fill: white;
    -fx-background-color: rgba(166, 141, 211, 0.9);
    -fx-alignment: center;
    -fx-pref-height: 24;
    -fx-pref-width: 24;
}

.app-background {
    -fx-background-color: #f4f4f0;
}